body, #app {
    width: 100%;
    min-height: 100vh; /* 使容器的高度至少为视窗高度 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            135deg,
            rgba(213, 232, 232, 0.8), /* 红色 */ rgba(4, 225, 225, 0.8), /* 黑色 */ rgba(23, 100, 110, 0.8), /* 深橙色 */ rgb(9, 42, 42) /* 紫色 */
    ) no-repeat fixed;
    background-size: cover;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px); /* 总宽度减去左右各 20px */
    max-width: 1200px; /* 可选：设置最大宽度 */
    margin-left: 350px;
    margin-right: 345px;
}

.text-background {
    color: #ffffff;
    padding: 20px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5); /* 给内容区域增加一个透明黑色背景，突出文本 */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 180%; /* 限制内容区域的宽度 */
    text-align: left; /* 让文本居中 */
}
