:root {
    /* Colors */
    --primary-color: #1dd1d1;
    --secondary-color: #fc852a;
    --background-color: #144355;
    --text-color: #ffffff;
    
    /* Typography */
    --base-font-size: clamp(1rem, calc(0.8rem + 0.5vw), 1.2rem);
    --heading-font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
    
    /* Spacing */
    --spacing-unit: clamp(1rem, calc(0.5rem + 2vw), 3rem);
    --navbar-height: clamp(3rem, calc(2rem + 2vh), 5rem);
    
    /* Container */
    --container-width: min(90%, 75rem);
    
  }
  
  /* Dark mode variables */
  /* @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #0b2b37;
      --text-color: #ffffff;
    }
  } */