:root {
    /* Colors */
    --primary-color: #2d3436;
    --secondary-color: #0984e3;
    --background-color: #ffffff;
    --text-color: #2d3436;
    
    /* Typography */
    --base-font-size: clamp(1rem, calc(0.8rem + 0.5vw), 1.2rem);
    --heading-font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
    
    /* Spacing */
    --spacing-unit: clamp(1rem, calc(0.5rem + 2vw), 3rem);
    --navbar-height: clamp(3rem, calc(2rem + 2vh), 5rem);
    
    /* Container */
    --container-width: min(90%, 75rem);

    --max-width: 80vw; /* 设置为视窗宽度的80% */
    --container-padding: 2rem; /* 容器两侧的内边距 */
  }
  
  /* Dark mode variables */
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #2d3436;
      --text-color: #ffffff;
    }
  }